$dark-green-color: rgb(10, 63, 10);
$black-color: #000;
$heading-color: #090e53;
$text-color: #7d8609;
$bg-color: #d6d2d2;
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    background: $bg-color;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 6rem;
    font-weight: 900;
    color: $heading-color;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $heading-color;
}

h3 {
    font-size: 1.745rem;
    font-weight: 700;
    color: $heading-color;
}

p {
    font-size: 1.3rem;
    color: $text-color;
}
.container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    text-transform: uppercase;
    margin-top: 30px;
    .hamburger-menu {
        display: none;
        position: fixed;
        padding: 10px;
    }
    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: 0.25s;
    }
    .menu__btn > span::before {
        content: "";
        top: -8px;
    }
    .menu__btn > span::after {
        content: "";
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #eceff1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
        transition-duration: 0.25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        transition-duration: 0.25s;
    }
    .menu__item:hover {
        background-color: #cfd8dc;
    }
    .logo {
        font-family: "The Nautigal", cursive;
        font-weight: 700;
        font-size: 1.625rem;
        color: $dark-green-color;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-list {
        display: flex;
        gap: 30px;
    }
    .menu-link {
        font-size: 1rem;
        font-weight: 500;
        color: $black-color;
    }
    .en,
    .ua {
        color: $black-color;
    }
    .en {
        box-shadow: 1px snow;
    }
}

.hero {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    .sec-logo {
        font-family: "The Nautigal", cursive;
        color: $dark-green-color;
    }
    p {
        margin-top: 30px;
    }
}

.project {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .box {
        width: 33.33%;
        margin-bottom: 20px;
    }
    .more-item {
        display: none;
        margin-bottom: 20px;
    }
    input {
        display: none;
        cursor: pointer;
    }

    .ll {
        display: none;
    }
    #btn:checked ~ ul .more-item {
        display: inline-block;
    }
    #btn:checked ~ label .ll {
        display: inline-block;
    }
    #btn:checked ~ label .lm {
        display: none;
    }
    label {
        background: $dark-green-color;
        color: $text-color;
        padding: 9px 25px;
        border-radius: 30px;
        text-transform: uppercase;
    }
}

.volunteers {
    margin-bottom: 100px;
    h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    .worker-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
    }
    h3 {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    img {
        width: 250px;
        max-width: 100%;
        height: 205px;
        max-height: 100%;
    }
}

.army-supprot {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    h3 {
        text-transform: uppercase;
        margin-top: 20px;
    }
}

.about-us {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        text-transform: uppercase;
    }
}

.contacts {
    margin-bottom: 100px;
    h2 {
        background: url(../img/call-center.jpg) center no-repeat;
        text-align: center;
        padding: 100px;
        text-transform: uppercase;
    }
    .unflex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}

.footer {
    background: $heading-color;
    padding: 100px;
    .logo__footer {
        font-family: "The Nautigal", cursive;
        color: $text-color;
        font-weight: 700;
        font-size: 2rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    a {
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }
    p {
        color: gray;
        font-size: 1.5rem;
    }
}

@media (max-width: 320px){
    #footer{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    html {
        overflow-x: hidden;
    }
    h1{
        font-size: 4rem;
    }
    #hm {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .menu,
    .toggle {
        display: none;
    }
    .logo {
        margin: 0 auto;
    }

    .box {
        img {
            width: 150px;
            max-width: 100%;
        }
    }
    p {
        font-size: 0.9rem;
    }
    .volunteers{
        .worker-item{
            display: block;
            text-align: center;
        }
    }
    .contacts{
        .unflex{
            display: block;
            text-align: center;
        }
    }
#footer{
    width: 100%;
    .container{
        width: 230px;
        max-width: 100%;
        margin: 0 auto;
    }
}
    .footer {

        width: 100%;
        background: $heading-color;
        overflow-x: hidden;
        .container {
            width: 230px;
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            background: $heading-color;
        }
        p{
            font-size: 1rem;
        }
        ul {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            background: $heading-color;
        }
        .logo__footer {
            margin-left: 50px;
            background: $heading-color;
        }
    }
}

@media (max-width: 768px) {
    .project {
        .box {
            width: 50%;
        }
    }
    .footer{
        width: 100%;
        .list{
            margin-right: 30px; 
        }
    }
}
